    <script src="/javascripts/titleName.js"></script>
    <script src="/javascripts/modal-jquery.js"></script>
    <!-- <script src="/javascripts/navbar-toggle.js"></script> -->
    <script src="/javascripts/navbar-new.js"></script>

    </body>

    </html>
